@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'),
       url('../fonts/roboto-v20-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/DroidSans-Bold.ttf') format('truetype'),
       url('../fonts/DroidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}