// section library buttons
.section__library--btn {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  background-color: rgb(243, 246, 246);
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.23);
}

.library__btn {
  &--container {
    display: flex;
    align-items: center;
    height: 66px;
  }

  &--styles {
    width: 140px;
    height: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01;
    background-color: #f3f6f6;
    color: #000000;
    border: none;
    border-bottom: 2px solid #9895a2;
    cursor: pointer;
    outline: none;
  }

  &--active {
    background-color: #77c1bb;
    border: none;
  }
}
// section library buttons -END

//--------------------------------------------------------------------------
.library-queue,
.library-watched {
  box-sizing: border-box;
  height: 100%;
  min-height: 420px;
  min-width: 320px;
  width: 100%;
  padding: 15px;
  text-align: center;

  &__films-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: auto;

    &--film {
      display: block;
      position: relative;
      box-sizing: border-box;
      list-style: none;
      margin: 10px 0px;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      max-width: 340px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to top,
          #000,
          transparent,
          transparent
        );
        opacity: 0.7;
        z-index: 9;
        border-radius: 10px;
      }
      &-img {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        opacity: 1;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      &-name {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 15px;
        bottom: 15px;
        color: #fff;
        z-index: 10;
      }
      &-rate {
        display: block;
        position: absolute;
        text-align: center;
        width: 40px;
        height: 20px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        top: 15px;
        right: 15px;
        box-shadow: inset 0 0 5px 1px #888;
        border-radius: 10px;
        background: #fff;
        z-index: 10;
      } //--rate
    } //film__block
  } //--films-container
} //library__
//--------------------------------------------------------------------------

// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  .library-queue,
  .library-watched {
    &__films-container {
      flex-direction: row;
      &--film {
        margin: 10px 15px;
        width: 45%;
        max-width: 466px;
      }
    }
  }
} // media 768

// laptops and desktop
@media only screen and (min-width: 1024px) {
  .library-queue,
  .library-watched {
    &__films-container {
      max-width: 1024px;
    }
  }
} // media 1024
